* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(144,251,242);
  background: linear-gradient(120deg, rgba(144,251,242,1) 0%, rgba(39,182,129,1) 70%, rgba(216,236,102,1) 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
header,
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  min-height: 20vh;
}
form {
  min-height: 10vh;
}
form input,
form button {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 2rem;
  border: none;
  color: rgba(94, 158, 166);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
form button {
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: rgba(255, 255, 255, 0.8);
}

.container {
  width: 50%;
}
.city-box {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.temperatures {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 10px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
